@keyframes android-ViewFlipper-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.android-ViewFlipper.loading {
  &>* {
    opacity: 0;
  }

  &::after {
    opacity: 1;
  }
}

@keyframes stack-pull-up-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes stack-pull-up-out {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes stack-pull-down-in {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes stack-pull-down-out {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}

@keyframes stack-push-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes stack-push-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes stack-pop-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes stack-pop-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes stack-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes stack-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes stack-grow-fade-in {
  from {
    opacity: 0;
    transform: scale(0.75) translateY(7%);
  }

  to {
    opacity: 1;
    transform: scale(1.0) translateY(0%);
  }
}

@keyframes stack-grow-fade-out {
  from {
    opacity: 1;
    transform: scale(1.00) translateY(0%);
  }

  to {
    opacity: 0;
    transform: scale(1.33) translateY(-7%);
  }
}

@keyframes stack-shrink-fade-in {
  from {
    opacity: 0;
    transform: scale(1.33) translateY(-7%);
  }

  to {
    opacity: 1;
    transform: scale(1.0) translateY(0%);
  }
}

@keyframes stack-shrink-fade-out {
  from {
    opacity: 1;
    transform: scale(1.0) translateY(0%);
  }

  to {
    opacity: 0;
    transform: scale(0.75) translateY(7%);
  }
}

.android-SwapView {
  display: block;
  position: relative;
  pointer-events: none;
}

.android-SwapView>* {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: auto;
}

.resp-sharing-dialog-back {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.rxjs-plus-dialog-front {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #F0F0F0;
  padding: 0.5em;
  max-height: 90%;
  max-width: 90%;
  box-sizing: border-box;
  overflow-y: auto;
  border-radius: 8px;
}

.rxjs-plus-dialog-message {
  color: #000000
}

.rxjs-plus-dialog-buttons {
  display: flex;
  flex-direction: row;
}

.rxjs-plus-dialog-cancel {
  min-height: 32px;
  min-width: 42px;
  color: #000000;
  border-radius: 4px;

  &:hover {
    background: #DDDDDD;

    &:active {
      background: #AAAAAA;
    }
  }
}

.rxjs-plus-dialog-ok {
  min-height: 32px;
  min-width: 42px;
  color: #000000;
  border-radius: 4px;

  &:hover {
    background: #DDDDDD;

    &:active {
      background: #AAAAAA;
    }
  }
}