
body {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
}

.frame {
  display: grid;
  grid-template-columns: auto;
  z-index: 0;
}

.frame > * {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.linear {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  &.dynamic {
    align-items: stretch;
  }
  & > * {
    flex-shrink: 1;
  }
}


@keyframes stack-push-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes stack-push-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes stack-pop-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes stack-pop-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes stack-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes stack-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}